*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url(./img/wave.svg);
    background-repeat: no-repeat;
    background-color: #121012;
}

#container{
    margin-top: 10%;
    width: 70%;
    display: flex;
    justify-content: space-around;
}

img {
    height: 20em;

}

form{
    background-color: #232323;
    display: flex;
    text-align:left;
    flex-direction: column;
    height: 20em;
    width: 20em;
    
}

form h1{
    margin: 10px 0 10px 0;
    color: white;
    margin-left: 15px;
}

form label{
    color: white;
    margin-left: 15px;
}

form input{
    background-color: #323131;
    color: white;
    margin: 20px;
    padding: 10px;
    outline: 0;
    border: 0;
}

form button{
    background-color: #b075d5;
    margin-left: 18px;
    padding: 10px;
    width: 21em;
    cursor: pointer;
    outline: 0;
    border: none;
}

form button:hover{
   color: white;
}